<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
</style>
*{
    margin: 0px;
    padding: 0px;
}
header {
    text-align: center;
    background-color: #ffffff;
}
body{
    background-color: #fff;
    color: #000000;
    font-family: "Noto Serif", serif;
    margin: 5%;
}
h1{
    font-size: 2em;
    margin-left: 2px;
}
h2{
    font-size: 1.5em;
    margin-left: 2.5px;
    margin-bottom: -1%;
}
h3{
    font-size: 1.5em;
    margin-bottom: -1%;
    margin-left: 2.5px;
}
hr{
    margin-top: -2%;
}
.social_media img{
    font-size: 1.5em;
    color: #000000;
    background: #ffffff;
    border-radius: 20px;
    padding: 3px;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: center;
    line-height: 1.5em; 
}
.experience img{
    font-size: 1.5em;
    color: #000000;
    background: #ffffff;
    border-radius: 15px;
    padding: 3px;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: center;
    line-height: 1.5em;  
}
.container{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 1780px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/profilepicture.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3; /* Opacidad del 50% para la imagen de fondo */
    z-index: -1;
}
.header{
    position: relative;
}
.ppcontainer{
    width: 230px; /* Ancho de la imagen */
    height: 230px; /* Altura de la imagen */
    border-radius: 50%; 
    overflow: hidden; /* Oculta lo que sobresale de la imagen */
    display: inline-block;
    vertical-align: middle;
    border: 4px solid rgb(255, 255, 255);
    outline: 5px outset beige;
    margin: 3%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
#profilepicture{
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto;
    display: block; /* La imagen se comporta como un bloque para evitar espacio adicional */
}
.personal_info{
    display: flex; /*Sirve para que al agregar contenido se desplace hacia abajo*/
    width:100%;
} 
.social_media{
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    padding: 4%;
    width: 50%;
}
.social_media a{
    text-decoration: none;
    color:black;
    text-align:center;
    vertical-align: middle;
    
}
.personal_information{
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    padding: 4%;
    width: 50%;
}
.social_media{
    display: inline-block;
    margin-top: 1%;
    vertical-align: middle;
}
.personal_presentation{
    position: absolute;
    top: 0%;
    right: 0%;
    display: inline-block;
    vertical-align: middle;
    padding: 5%;
    width: 50%;
    margin-top: 273px;
    text-align: right;
}
.english a{
    background-color:rgba(255, 255, 255, 0.842);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    display: block;
    margin: 12px;
    padding: 3px;
    border-radius: 20px;
    outline: 4px outset rgb(0, 0, 0);
    width: 200px;
    text-align: center;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);

}
.english a:hover{
    background-color: black;
    color: white;
    outline: 4px outset rgb(255, 0, 0);
}